.v2-profile-page {
  margin: 30px 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  .profile-container {
    display: flex;
    align-items: center;
    .profile-content {
      .user-profile-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        .user-info-form,
        .select-new-avatar-form,
        .personal-information {
          box-shadow: 0 4px 8pxx rgba(0, 0, 0, 0.3);
          padding: 20px;
          background-color: #fff;
          margin-bottom: 10px;
        }
        .user-info-form {
          text-align: center;
        }
        .user-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px;
          .user-details {
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            h3 {
              margin: 10px 0;
              font-size: 1.5em;
            }
            .role-label {
              background-color: #cdcbf9;
              color: #6358dc;
              width: 131px;
              font-weight: bold;
              padding: 5px 10px;
              border-radius: 5px;
              margin: 5px 0;
              display: inline-block;
            }
          }
        }

        .select-new-avatar-form {
          h3 {
            text-align: center;
            margin-bottom: 10px;
          }
          .avatar-upload {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
            position: relative;
            flex: 4;
            img {
              border-radius: 8px;
            }
            .upload-icon {
              font-size: 24px;
            }
            p {
              margin: 0;
              font-size: 16px;
              color: #666;
            }
            .text-content {
              display: flex;
              flex-direction: column;
              justify-content: center;
              p:first-of-type {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      .personal-information {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        box-sizing: border-box;
        .ant-card-body {
          width: 100%;
        }
        h2 {
          margin-bottom: 20px;
          font-size: 1.5em;
          text-align: center;
          width: 100%;
          color: #6358dc;
        }

        form {
          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="date"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
