.card-account-container {
  .account-wrapper {
    .account-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .account-header-info {
        display: flex;
        align-items: center;
        gap: var(--gap-s);
        max-width: 80%;
        flex-wrap: wrap;
        /* @media screen and (max-width: 700px) {
          flex-direction: row;
          justify-content: start;
          align-items: flex-start !important;
        } */
        .account-role {
          background-color: #cdcbf9;
          color: #6358dc;
          border-radius: 7px;
          /* padding: 2px 8px;
          flex-basis: 50%; */
          @media screen and (max-width: 700px) {
            margin-left: 0 !important;
          }
        }
      }
      .account-header-action {
        display: flex;
        align-items: center;
        justify-content: end;
        .account-header-action-button {
          font-size: 20px;
        }
      }
    }
    .account-body {
      margin-top: 10px;
      display: flex;
      span {
        line-height: 10px;
      }
      .account-body-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .account-card-info {
          word-wrap: break-word;
        }
      }
      .account-body-avatar {
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }
  }

  .card-account-container {
    margin-left: 10px;
  }
}
