@import "../../../../../mixin/mixin.css";
.department-page {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-s);
  width: 100%;
  .main {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    width: calc(100% - 300px);
    @mixin tabletAndMobile {
      width: 100%;
    }
    .main-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--gap-s);
      .title-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--gap-xs);
        margin-bottom: 20px;
        .title-row-btn {
          display: flex;
          align-items: center;
          gap: var(--gap-xs);
        }
        .open-team-member-modal-btn {
          display: none;
          @mixin tabletAndMobile {
            display: inline-block;
          }
        }
        svg {
          margin: auto;
          width: 16px;
        }
        h2 {
          font-size: 32px;
        }
      }
      .second-sec {
        display: flex;
        width: 100%;
        height: fit-content;
        @mixin tabletAndMobile {
          flex-direction: column;
          align-items: flex-start;
        }
        .des-manager-sec {
          display: flex;
          flex-direction: column;
          gap: var(--gap-xl);
          width: 70%;
          margin-bottom: 20px;
          @mixin tabletAndMobile {
            width: 100%;
          }
          .department-manager-card-des {
            display: flex;
            align-items: center;
            gap: var(--gap-s);
            @media screen and (max-width: 1280px) {
              align-items: flex-start;
              gap: var(--gap-xs);
              flex-direction: column;
            }
          }
        }
        .pie-chart {
          margin: auto;
          width: 30%;
          height: 97%;
          max-width: 300px;
          @mixin tabletAndMobile {
            height: 300px;
          }
        }
      }
    }
    .project-section {
      display: flex;
      flex-direction: column;
      gap: var(--gap-s);
    }
  }
  .team-member-sec {
    width: 300px;
    padding-left: var(--padding-xs);
    @mixin tabletAndMobile {
      display: none;
    }
    .member-list-container {
      @mixin tabletAndMobile {
        display: none;
      }
      position: fixed;
      height: 85dvh;
      width: calc((100vw - 250px) * 0.2);

      overflow-y: auto;
      border-radius: var(--rounded-border);
      padding: var(--padding-s);
      width: 300px;
      .title {
        width: 100%;
        display: flex;
        margin-top: var(--gap-s);
        justify-content: center;
        gap: var(--gap-xs);
        flex-wrap: wrap;
      }
      border: 1px solid var(--gray-color);
    }
    svg {
      width: 16px;
    }
  }
}

.department-option {
  display: flex;
  flex-direction: column;
  width: 150px;
  .department-option-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    gap: var(--gap-s);
    svg {
      width: 16px;
    }
  }
}

.department-team-member-modal {
  .title {
    display: flex;
    align-items: center;
  }
}
