.task-detail-modal {
  .ant-modal-body {
    height: 85dvh;
  }
  transition-duration: 300ms;
  .task-detail-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    .task-assignment-selector {
      position: absolute;
      opacity: 0;
      width: 200px;
      z-index: 3;
    }
    .assign-task-btn {
      display: flex;
      align-items: flex-start;
      gap: var(--gap-s);
      width: 200px;
      height: 32px;
      .assign-task-icon {
        width: 20px;
      }
      h5 {
        font-size: 16px;
      }
    }
    .task-detail-head-right-size {
      display: flex;
      gap: var(--gap-m);
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .task-detail-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    .main-task-detail-section {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--gap-xl);
      width: 100%;
      padding: var(--padding-m);
      .assigned-user-card {
        border: transparent;
        /* override UI lib */
        .ant-card-body {
          padding-left: 0;
        }
      }
      .task-description {
        width: 100%;
      }
    }
    .main-task-detail-section-full {
      width: 100%;
    }
  }
}

.task-option {
  display: flex;
  flex-direction: column;
  width: 150px;
  .task-option-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: var(--gap-s);
    svg {
      width: 16px;
    }
  }
}

.assign-user-popover {
  margin-top: var(--gap-m);
  .assignable-user-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-s);
    cursor: pointer;
  }
  /* override */
  .ant-card-body {
    width: 100%;
  }
}
