@define-mixin mobile {
  @media (max-width: 400px) {
    @mixin-content;
  }
}

@define-mixin tablet {
  @media (min-width: 401px) and (max-width: 768px) {
    @mixin-content;
  }
}

@define-mixin desktop {
  @media (min-width: 769px) {
    @mixin-content;
  }
}

@define-mixin tabletAndMobile {
  @media (max-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin textOverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @mixin-content;
}
